/* info.css */

/* CSS Utils */

.box-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Scoreboard specific */

#scoreboard-details-container {
    width: 80vw;
    max-width: 1000pt;
    margin: auto;
}

#leaderboard-title {
    display: flex;
    align-items: center;
    margin-top: 2em;
}

#leaderboard-title h2 {
    flex: 1 1 auto;
    margin: 0;
}

#scoreboard-table {
    width: 100%;
    padding: 0;
}

#scoreboard-table li {
    display: flex;
    align-items: center;

    border-radius: 5pt;
    padding: 5pt;
}

#scoreboard-table li:nth-child(odd) {
    background-color: var(--sec-color);
}

.player-index {
    margin-right: 7pt;
    margin-left: 5pt;
    padding: 8px;

    font-family: "IBM Plex Mono";
    font-weight: bold;
    text-align: center;
}

.player-info {
    flex: 1 1 auto;
}

.user-link {
    margin-left: 5pt;
}

.player-info-stats {
    display: flex;
}

.icon-wrapper {
    display: flex;
    align-items: center;
    margin: 0 8pt;
}

.gold-text {
    color: var(--high-yellow);
    margin-right: 5px;
}

.red-text {
    color: var(--high-red);
    margin-right: 5px;
}

.delete-button {
    background: none;
    border: none;
    cursor: pointer;
    flex-grow: 0;
}

.delete-button svg {
    color: var(--high-red);
}

.delete-button:hover {
    color: red;
}
