/* info.css */

/* CSS Utils */

.box-center {
    display: flex;
    justify-content: center;
}

/* Scoreboard specific */

#scoreboard-details-container {
    max-width: 80vw;
    margin: auto;
}

.scoreboard-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.scoreboard-table th, .scoreboard-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.scoreboard-table th {
    background-color: #f2f2f2;
}

.scoreboard-table .icon-wrapper {
    display: flex;
    align-items: center;
}

.scoreboard-table .gold-text {
    color: gold;
    margin-right: 5px;
}

.scoreboard-table .red-text {
    color: red;
    margin-right: 5px;
}

.delete-button {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
}

.delete-button:hover {
    color: darkred;
}

/* Register popup */
