#register-bg {
    display: flex;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;

    background-color: #000000a0;

    width: 100%;
    height: 100%;

    z-index: 1;
}

#register-toggle {
    background-color: var(--sec-color);
}

#register-popup {
    margin: auto;
    min-width: 300pt;
    width: 40%;
    max-width: 500pt;
}

#register-tabs {
    position: relative;
    display: flex;
    z-index: 2;
}

.register-tab-btn {
    background-color: var(--bg-color);
    border: none;

    color: rgb(117, 116, 122);
}

.register-tab-btn:hover {
    color: white;
    transition: color 0.2s ease;
}

.register-tab-btn:disabled {
    background-color: var(--sec-color);
    color: var(--text-color);
}

#register-user-btn {
    border-radius: 10px 0 0 0;
    border-right: none;
}

#register-webhook-btn {
    border-radius: 0 10px 0 0;
    border-left: none;
}

#register-content {
    position: relative;

    background-color: var(--sec-color);
    border-radius: 0 10pt 10pt 10pt;

    padding: 2em;

    width: 100%;
    z-index: 1;
}

#register-close-btn {
    position: absolute;
    top: 10pt;
    right: 5pt;
}

.register-title {
    margin: 0;
}

#register-content form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.register-form-content {
    margin: 10pt 2em 20pt 0;
}

.register-form-content input {
    border: none;
 
    border-bottom: 1px solid;
    background-color: var(--sec-color);

    width: 100%;
    padding: 10pt;
}

.register-form-content input:focus {
    outline: 2px solid #1a1a1a;
}
