.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 20px;
    border-radius: 10px;
}

.user-title {
    font-size: 36px;
}

.user-details {
    margin: 20px 0;
    font-size: 18px;
}

.user-details b {
    color: var(--high-red);
}

.user-level {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--sec-color);
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.user-level p {
    margin: 5px 0;
}

.user-level i {
    margin-right: 5px;
}

.recent-solves {
    width: 100%;
    color: #ffffff; /* Ensure all text in recent-solves is white */
}

.recent-solves h3 {
    color: #ffffff; /* Ensure the "Solved Challenges" text is white */
}

.recent-solves table {
    width: 100%;
    border-collapse: collapse;
}

.recent-solves th, .recent-solves td {
    padding: 10px;
    text-align: left;
}

.recent-solves th {
    background-color: var(--bg-color);
    border-bottom: 1px solid var(--high-orange);
    font-family: "IBM Plex Mono", sans-serif;
    color: #ffffff; /* Ensure header text is white */
}

.recent-solves td {
    color: #ffffff; /* Ensure body text is white */
}

.recent-solves tr:nth-child(even) {
    background-color: var(--sec-color);
}

.gold-text {
    color: #ffd700;
}

.red-text {
    color: #ff5252;
}

.green-text {
    color: #00e676;
}

.cyan-text {
    color: #00bcd4;
}

.refresh-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    margin-left: 10px;
    color: #555;
}

.refresh-button:hover {
    color: #000;
}
