:root {
  --bg-color:    #0c1221;
  --sec-color:   #161b2a;
  --text-color:  #f9eae1;
  --high-orange: #ff3a00;
  --high-yellow: #fdb813;
  --high-red:    #dc4c50;
  --high-blue:   #00aee0;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--high-yellow);
  text-decoration: inherit;
}
a:hover {
  color: var(--high-orange);
}

html, body {
    margin: 0;
    padding: 0;
}

body {
  margin-top: 1em;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
    width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: "IBM Plex Mono";
}

.section-title {
  border-bottom: 1px solid var(--high-blue);
  padding: 0 0 2pt 2pt;
  width: 100%;
}

button {
  position: relative;

  border: 1px solid;
  border-radius: 20pt;
  padding: 0.6em 1.2em;

  font-size: 1em;
  font-weight: 500;
  font-family: inherit;

  background-color: var(--sec-color);
  cursor: pointer;
}

button:hover {
  border-color: var(--high-blue);
}

.submit-button, button[type="submit"] {
    border: none;
}

.submit-button::after, button[type="submit"]::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    height: 100%;
    width: 100%;

    padding: 3px;

    background-image: linear-gradient(to bottom right, var(--high-yellow), var(--high-orange));
    border-radius: 20pt;

    z-index: -1;
}

.submit-button:hover, button[type="submit"]:hover {
    z-index: 0;
    color: white;
}

.icon-button {
    border: none;
    background-color: transparent;
}

.icon-button svg {
    color: var(--high-yellow);
}

.icon-button:hover svg {
    color: var(--high-orange);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: white;
    --sec-color: #f6f6f6;
    --text-color: #10294c;
    --high-yellow: #6420e0;
    --high-orange: #f04e23;
  }

  a:hover, .icon-button:hover svg {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
